@model IEnumerable<Department>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index - Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(SignInManager.IsSignedIn(User))
{
    <div class="card text-white">
    <div class="card-header bg-primary">Department List</div>
    <div class="card-body text-dark">
        <div align="right">
            <a asp-action="Create" asp-controller="Department" class="btn btn-info text-white"><i class="fas fa-plus"></i> &nbsp; Create</a>
        </div>
        @{ await Html.RenderPartialAsync("_departmentIndexTable");}
    </div>
</div>
}

else
{
    <br />
        <div class="alert alert-danger text-danger" role="alert">Sign in First to continue !</div> 
}

